
.container{
    width: 1180px;
    height: auto;
    margin: 0px auto;
    padding: 50px 0px;
}
.__header{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navbar-brand{
    font-size: 22px;
    padding: 0px;
    margin: 0px 10px 0px 0px;
}
.nav-item{
    font-size: 15px;
}
.dropdown-toggle{
    padding-top: 6px;
}
.__content{
    padding: 20px 0px;
}
.__footer-desc{
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    
}

/* Modal Page Styling */
.modal-content{
    width: 80%;
}

.label-input{
    margin-right: 20px;
}